*{
    margin: 0px;
    padding: 0px;
}

.main5{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav{
    display: flex;
    flex-direction: row;
    flex: 0.1;
    box-shadow: 0px 0px 3px 0px rgb(173, 226, 247);

}

.nav1{
    display: flex;
    flex-direction: row;
    flex: 0.3;
}

.nav2{
    display: flex;
    flex-direction: row;
    flex: 0.7;
    justify-content:flex-end;
    align-content: center;
}

.work{
    display: flex;
    flex-direction: row;
    flex: 0.9;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px 1px;
}

.chat{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    background-color: #0785e06e;
    box-shadow: 1px 1px 3px 1px;
    
}

.membrs{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    background-color: #0784e0;
}

.search{
    width:100%;
    height:10%;
    
}
 
.search{
 margin-top: 20px;
 width: 80%;
 height: 30px;
 align-self: center;
 border: none;
 outline: none;
} 

.th{
    align-self: center;
    margin-right: 10px;
}

.gm{
    height: 3px;
    display: inline-block;
    font-size: 30px;
    line-height: 40%;
    font-style: italic;
    font-family: monospace;
    padding-left: 7px;
    color: gold;
    text-shadow: 3px 1px 10px  ;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
     /* margin-bottom: 50px; */

}

.msg1{
    display: flex;
    flex-direction: column;
    flex: 0.9;
}


.msg2{
    display: flex;
    flex-direction: row;
    flex: 0.1;
    justify-content: center;
   
}

.msg3{
    width: 70%;
    height: 60%;
    align-self: center;
    justify-self: flex-start;
    border-radius: 15px;
    outline: none;
}

.send{
    align-self: center;
    margin-left: 10px;
}
